html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-image: url(/img/aesthetic-black-pictures-1904-x-1046-67v146k27nj6bgmp.jpg);
    background-repeat: no-repeat;
    background-color: #000000;
}

header {
   
    background-color: #151515;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.banner-img{
    height: 500px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > .wrapper{
    display: flex;
    border: 1px solid #000000;
    justify-content: space-between;
    font-size: 1.3rem;
}

nav {
    width: 25%;
    border: 1px;
    height: auto;
    display: flex;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > a {
    text-decoration: none;
    color: #d4bf1d;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.logo > img {
    width: auto;
    height: 70px;
    border-radius: 100%;
    border: 1px;
    size: 50px;
}

h1 {
    color: #d4bf1d;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
    text-shadow: 4px 4px 8px rgba(244, 244, 244, 0.5);
}

p {
    color: #fffdef;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 0;
}

h2 {
    color: #d4bf1d;
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
     text-shadow: 4px 4px 8px rgba(244, 244, 244, 0.5);
}

 form {
    color: #dedbc9;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
 }

 .respon {
    color: #e2e1db;
    text-align: center;
    margin: 10px 0;
 }